<p id="notice"><%= notice %></p>

<h1>Todo List <i class="fa fa-check-square-o" aria-hidden="true"></i>
</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @todo_items.each do |todo_item| %>
      <tr>
        <td><%= todo_item.description %></td>
        <td><%= link_to 'Show', todo_item, class: 'btn btn-default' %></td>
        <td><%= link_to 'Edit', edit_todo_item_path(todo_item), class: 'btn btn-default' %></td>
        <td><%= link_to 'Delete', todo_item, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Another one', new_todo_item_path, class: 'btn btn-primary' %>
